<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.university.mapper.UniversityMapper">

    <resultMap type="com.ruoyi.university.domain.University" id="UniversityResult">
        <id property="universityId" column="university_id"/>
        <result property="universityName" column="university_name"/>
        <result property="location" column="location"/>
        <result property="ranking" column="ranking"/>
        <result property="type" column="type"/>
        <result property="is985" column="is_985"/>
        <result property="is211" column="is_211"/>
        <result property="minScoreLiberal" column="min_score_liberal"/>
        <result property="minScoreScience" column="min_score_science"/>
    </resultMap>

    <!-- 获取所有高校信息 -->
    <select id="getAllUniversities" resultMap="UniversityResult">
        SELECT * FROM cers_university
    </select>

    <!-- 根据高校ID获取高校信息 -->
    <select id="getUniversityById" parameterType="Long" resultMap="UniversityResult">
        SELECT * FROM cers_university WHERE university_id = #{universityId}
    </select>

    <!-- 添加高校信息 -->
    <insert id="addUniversity" parameterType="com.ruoyi.university.domain.University">
        INSERT INTO cers_university (university_name, location, ranking, type, is_985, is_211, min_score_liberal, min_score_science)
        VALUES (#{universityName}, #{location}, #{ranking}, #{type}, #{is985}, #{is211}, #{minScoreLiberal}, #{minScoreScience})
    </insert>

    <!-- 更新高校信息 -->
    <update id="updateUniversity" parameterType="com.ruoyi.university.domain.University">
        UPDATE cers_university
        SET university_name = #{universityName},
            location = #{location},
            ranking = #{ranking},
            type = #{type},
            is_985 = #{is985},
            is_211 = #{is211},
            min_score_liberal = #{minScoreLiberal},
            min_score_science = #{minScoreScience}
        WHERE university_id = #{universityId}
    </update>

    <!-- 删除高校信息 -->
    <delete id="deleteUniversity" parameterType="Long">
        DELETE FROM cers_university WHERE university_id = #{universityId}
    </delete>

</mapper>
