<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.study.mapper.StudyRoomMapper">

    <resultMap type="StudyRoom" id="StudyRoomResult">
        <id property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
        <result property="capacity" column="capacity"/>
        <result property="location" column="location"/>
        <result property="status" column="status"/>
        <result property="image" column="image"/>
    </resultMap>

    <!-- 获取所有自习室 -->
    <select id="getAllStudyRooms" resultMap="StudyRoomResult">
        SELECT * FROM study_room
    </select>

    <!-- 根据自习室ID获取自习室信息 -->
    <select id="getStudyRoomById" parameterType="Long" resultMap="StudyRoomResult">
        SELECT * FROM study_room WHERE room_id = #{roomId}
    </select>

    <!-- 添加自习室 -->
    <insert id="addStudyRoom" parameterType="StudyRoom">
        INSERT INTO study_room (room_name, capacity, location, status, image)
        VALUES (#{roomName}, #{capacity}, #{location}, #{status}, #{image})
    </insert>

    <!-- 更新自习室信息 -->
    <update id="updateStudyRoom" parameterType="StudyRoom">
        UPDATE study_room SET room_name = #{roomName}, capacity = #{capacity},
                              location = #{location}, status = #{status}, image = #{image}
        WHERE room_id = #{roomId}
    </update>

    <!-- 删除自习室 -->
    <delete id="deleteStudyRoom" parameterType="Long">
        DELETE FROM study_room WHERE room_id = #{roomId}
    </delete>

</mapper>
